<div>
  <div class="bg-fixed max-w-full max-h-full flex flex-col justify-start" style="background-image: url(<%= image_url 'site-top-image2.jpg' %>)">
    <div class="mx-auto pt-10">
      <%= image_tag 'FakeCompanyLogo.png' %>
    </div>
    <div class="mx-auto pa-5">
      <h1 class=" text-6xl font-bold tracking-tight leading-normal text-center">Welcome to<br/> Our Company<br/> Tech Support<br/> Forum</h1>
    </div>  
    <div class="mx-auto w-80 mb-10">
      <p class="text-gray-600 leading-7">私達の会社の技術サポートフォーラムへようこそ。利用には登録が必要です。まだ登録がお済みでない方は下の「アカウント登録」ボタンを押して登録を
      済ませてから、ご利用ください。アカウント登録が既にお済みの方は「ログイン」ボタンよりログインしてご利用下さい。</p>
    </div>
    <div class="flex justify-end bg-white py-3">
  <%= link_to 'ログイン', new_user_session_path, class: "rounded-xl bg-gradient-to-t from-cyan-500 to-blue-200 mr-10 px-2 py-1.5 text-ml font-semibold text-white shadow-sm hover:bg-stone-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-stone-600"%>
  <%= link_to 'アカウント登録', new_user_registration_path, class:"rounded-xl bg-gradient-to-t from-cyan-500 to-blue-200 mr-10 px-2 py-1.5 text-ml font-semibold text-white shadow-sm hover:bg-stone-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-stone-600" %>
    </div>
  </div>
    <div class="bg-cover min-h-screen bg-center h-screen-full bg-white opacity-50" style="background-image: url(<%= image_url 'site-top-image2.jpg' %>)">
    </div>
</div>
