<div class="flex min-h-full flex-col space-y-1 justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= image_tag "FakeCompanyLogo.png", class: "mx-auto h-10 w-auto" %>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">ログイン</h2>
  </div>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false } })  do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mt-5 mb-5">
    <%= f.label :email, class: "block text-sm font-medium text-gray-900" %><br />
    <%= f.email_field :email,  autocomplete: "email", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
  </div>

  <div class="field mb-5">
    <%= f.label :password, class:"block text-sm font-medium text-gray-900"%><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
  </div>


  <div class="mb-5">
  <% if devise_mapping.rememberable? %>
    <div class="field flex flex-row items-center justify-start">
      <%= f.check_box :remember_me, class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
      <%= f.label :remember_me, class: "ml-3 block text-sm leading-6 text-gray-900" %>
    </div>
  <% end %>
  </div >
  <div class="actions flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

    <div class="mt-4 text-center text-sm leading-6 text-gray-500 flex flex-col space-y-1">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>