<!DOCTYPE html>
<html>
  <head>
    <title>SupportBoard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-amber-50">
  <div class="relative">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div id="flash" class="flash-messages">
      <%= render 'layouts/flash' %>
    </div>
  </div>
  <div>
    <% unless @hide_nav_bar %>
      <%= render 'layouts/nav_bar' %>
    <% end %>
  </div>
  <main>
      <%= yield %>
    </main>
  </body>
</html>
